/* Modal base */
.contact-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.4);
  overflow: auto;
}

/* Modal form styling */
.contact-modal__form {
  border-radius: 5px;
  width: 100%;
  max-width: 550px;
  padding: 35px;
  margin: 5% auto;
  background-color: #db8876;
  overflow: hidden;
}

.contact-modal__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

.contact-modal__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-modal__header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}
.contact-modal__header__img {
  margin-top: 15px;
}

/* Form styling */
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.contact-form__label {
  color: #312e2e;
  font-size: 36px;
  width: 100%;
}

.contact-form__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 26px;
}

.contact-form__input,
.contact-form__textarea {
  width: 100%;
  border-radius: 5px;
  border: none;
}

.contact-form__input {
  height: 68px;
}

.contact-form__textarea {
  height: 170px;
  outline: none;
}

/* Error styling */
.error {
  color: #901c1c;
  font-size: 0.8rem;
  margin-top: 5px;
}
